
/TestResults
/com.pubnub.api/bin
/com.pubnub.api/obj
/com.pubnub.api.test/bin
/com.pubnub.api.test/obj
/Example/bin
/Example/obj
*.suo
/src/TestResults
/src/com.pubnub.api/bin
/src/com.pubnub.api/obj
/src/com.pubnub.api.test/obj
/src/com.pubnub.api.test/bin
/src/Example/obj
/src/Example/bin